<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/variaveis/home" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
      <ion-label>Nome: {{nome}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Idade: {{idade}}</ion-label>
    </ion-item>
    <ion-item ngClass="{{s}}">
      <ion-label>Sexo: {{sexo}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>IMC: {{imc}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Classifição: {{clas}}</ion-label>
    </ion-item>
</ion-content>
 